<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>

<body>
	<div class="container">
		<div class="starter-template">
			<h1><span th:text="${message}"></span></h1>
			<h2>Example Elgamal : <span th:text="${elgamal}"></span></h2>
			<h2>Example RSA     : <span th:text="${rsa}"></span></h2>
		</div>
	</div>
</body>

</html>